<header class="cmg-header" id="cmg-header">
    <form action="" id="header-search">
        <input type="search" name="search" id="search" placeholder="Search..."/>
    </form>
    <div class="cmg-header-actions">
        <div class="action academic-year-wrapper">
            <span class="active-academic-year">Academic Year: 2080</span>
            <ul class="academic-year-dropdown cmg-dropdown">
                <li class="cmg-list-item">Academic Year: 2080</li>
                <li class="cmg-list-item">Academic Year: 2079</li>
                <li class="cmg-list-item">Academic Year: 2078</li>
            </ul>
        </div>
        <div class="action language-wrapper">
            <span class="active-language">English</span>
            <ul class="language-dropdown cmg-dropdown">
                <li class="cmg-list-item">English</li>
                <li class="cmg-list-item">Nepali</li>
            </ul>
        </div>
        <div class="action add-new-wrapper">
            <span class="add-new-icon"><i class="fa-solid fa-plus"></i></span>
            <div class="dropdown-box cmg-dropdown">
                <h2>Add New</h2>
                <ul class="language-dropdown">
                    <li class="cmg-list-item">
                        <span><i class="fa-solid fa-plus"></i></span>
                        <span>Student</span>
                    </li>
                    <li class="cmg-list-item">
                        <span><i class="fa-solid fa-plus"></i></span>
                        <span>Teachers</span>
                    </li>
                    <li class="cmg-list-item">
                        <span><i class="fa-solid fa-plus"></i></span>
                        <span>Staffs</span>
                    </li>
                    <li class="cmg-list-item">
                        <span><i class="fa-solid fa-plus"></i></span>
                        <span>Invoice</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="action dark-mode-wrapper">
            <span class="dark-mode-icon"><i class="fa-solid fa-plus"></i></span>
        </div>
        <div class="action notification-wrapper">
            <span class="notification-icon"><i class="fa-solid fa-plus"></i></span>
        </div>
        <div class="action message-wrapper">
            <span class="message-icon"><i class="fa-solid fa-plus"></i></span>
        </div>
        <div class="action user-wrapper">
            <span class="user-icon"><i class="fa-solid fa-plus"></i></span>
        </div>
    </div>
</header>