{% load static %}
<aside class="cmg-sidebar" id="cmg-sidebar">
    <div class="header">
        <a href="{% url 'members' %}" class="logo-wrapper">
            <figure class="image-wrapper">
                <img src="{% static 'images/sscollege-logo.jpg' %}" alt="Shahid Smarak College Logo">
            </figure>
            <h2 class="header-title">Shahid Smarak College</h2>
        </a>
        <button class="canvas-icon"><i class="fa-solid fa-bars"></i></button>
    </div>
    <div class="cmt-menu">
        <div class="cmt-menu-item main-menu">
            <h2 class="submenu-heading">
                <span>Main</span>
            </h2>
            <ul class="cmt-submenu">
                <li class="cmt-list-item"><a href="#">Dashboard</a></li>
                <li class="cmt-list-item"><a href="#">Application</a></li>
            </ul>
        </div>
        <div class="cmt-menu-item layout-menu">
            <h2 class="submenu-heading">
                <span>Layout</span>
            </h2>
            <ul class="cmt-submenu">
                <li class="cmt-list-item"><a href="#">Default</a></li>
                <li class="cmt-list-item"><a href="#">Mini</a></li>
                <li class="cmt-list-item"><a href="#">RTL</a></li>
                <li class="cmt-list-item"><a href="#">Box</a></li>
                <li class="cmt-list-item"><a href="#">Dark</a></li>
            </ul>
        </div>
        <div class="cmt-menu-item peoples-menu">
            <h2 class="submenu-heading">
                <span>Peoples</span>
            </h2>
            <ul class="cmt-submenu">
                <li class="cmt-list-item"><a href="#">Student</a></li>
                <li class="cmt-list-item"><a href="#">Parents</a></li>
                <li class="cmt-list-item"><a href="#">Guardians</a></li>
                <li class="cmt-list-item"><a href="#">Teachers</a></li>
            </ul>
        </div>
        <div class="cmt-menu-item academic-menu">
            <h2 class="submenu-heading">
                <span>Academic</span>
            </h2>
            <ul class="cmt-submenu">
                <li class="cmt-list-item"><a href="#">Classes</a></li>
                <li class="cmt-list-item"><a href="#">Class Room</a></li>
                <li class="cmt-list-item"><a href="#">Class Routines</a></li>
                <li class="cmt-list-item"><a href="#">Section</a></li>
                <li class="cmt-list-item"><a href="#">Subject</a></li>
                <li class="cmt-list-item"><a href="#">Syllabus</a></li>
                <li class="cmt-list-item"><a href="#">Time Table</a></li>
                <li class="cmt-list-item"><a href="#">Home Work</a></li>
                <li class="cmt-list-item"><a href="#">Examinations</a></li>
                <li class="cmt-list-item"><a href="#">Reasons</a></li>
            </ul>
        </div>
        <!-- <div class="cmt-menu-item management-menu">
            <h2 class="submenu-heading">
                <span>management</span>
            </h2>
            <ul class="cmt-submenu">
                <li class="cmt-list-item"><a href="#">Dashboard</a></li>
                <li class="cmt-list-item"><a href="#"></a></li>
            </ul>
        </div>
        <div class="cmt-menu-item hrm-menu">
            <h2 class="submenu-heading">
                <span>hrm</span>
            </h2>
            <ul class="cmt-submenu">
                <li class="cmt-list-item"><a href="#">Dashboard</a></li>
                <li class="cmt-list-item"><a href="#"></a></li>
            </ul>
        </div>
        <div class="cmt-menu-item accounts-menu">
            <h2 class="submenu-heading">
                <span>accounts</span>
            </h2>
            <ul class="cmt-submenu">
                <li class="cmt-list-item"><a href="#">Dashboard</a></li>
                <li class="cmt-list-item"><a href="#"></a></li>
            </ul>
        </div>
        <div class="cmt-menu-item announcements-menu">
            <h2 class="submenu-heading">
                <span>announcements</span>
            </h2>
            <ul class="cmt-submenu">
                <li class="cmt-list-item"><a href="#">Dashboard</a></li>
                <li class="cmt-list-item"><a href="#"></a></li>
            </ul>
        </div>
        <div class="cmt-menu-item reports-menu">
            <h2 class="submenu-heading">
                <span>reports</span>
            </h2>
            <ul class="cmt-submenu">
                <li class="cmt-list-item"><a href="#">Dashboard</a></li>
                <li class="cmt-list-item"><a href="#"></a></li>
            </ul>
        </div>
        <div class="cmt-menu-item user-menu">
            <h2 class="submenu-heading">
                <span>user</span>
            </h2>
            <ul class="cmt-submenu">
                <li class="cmt-list-item"><a href="#">Dashboard</a></li>
                <li class="cmt-list-item"><a href="#"></a></li>
            </ul>
        </div>
        <div class="cmt-menu-item membership-menu">
            <h2 class="submenu-heading">
                <span>membership</span>
            </h2>
            <ul class="cmt-submenu">
                <li class="cmt-list-item"><a href="#">Dashboard</a></li>
                <li class="cmt-list-item"><a href="#"></a></li>
            </ul>
        </div>
        <div class="cmt-menu-item content-menu">
            <h2 class="submenu-heading">
                <span>content</span>
            </h2>
            <ul class="cmt-submenu">
                <li class="cmt-list-item"><a href="#">Dashboard</a></li>
                <li class="cmt-list-item"><a href="#"></a></li>
            </ul>
        </div>
        <div class="cmt-menu-item support-menu">
            <h2 class="submenu-heading">
                <span>support</span>
            </h2>
            <ul class="cmt-submenu">
                <li class="cmt-list-item"><a href="#">Dashboard</a></li>
                <li class="cmt-list-item"><a href="#"></a></li>
            </ul>
        </div>
        <div class="cmt-menu-item pages-menu">
            <h2 class="submenu-heading">
                <span>pages</span>
            </h2>
            <ul class="cmt-submenu">
                <li class="cmt-list-item"><a href="#">Dashboard</a></li>
                <li class="cmt-list-item"><a href="#"></a></li>
            </ul>
        </div>
        <div class="cmt-menu-item settings-menu">
            <h2 class="submenu-heading">
                <span>settings</span>
            </h2>
            <ul class="cmt-submenu">
                <li class="cmt-list-item"><a href="#">Dashboard</a></li>
                <li class="cmt-list-item"><a href="#"></a></li>
            </ul>
        </div>
        <div class="cmt-menu-item ui-menu">
            <h2 class="submenu-heading">
                <span>ui</span>
            </h2>
            <ul class="cmt-submenu">
                <li class="cmt-list-item"><a href="#">Dashboard</a></li>
                <li class="cmt-list-item"><a href="#"></a></li>
            </ul>
        </div>
        <div class="cmt-menu-item help-menu">
            <h2 class="submenu-heading">
                <span>help</span>
            </h2>
            <ul class="cmt-submenu">
                <li class="cmt-list-item"><a href="#">Dashboard</a></li>
                <li class="cmt-list-item"><a href="#"></a></li>
            </ul>
        </div> -->
    </div>
</aside>