* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit';
}

#root.home.inside {
    display: flex;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --default: rgb(255 0 51);
    --darkGrey: #555;
    --lightGrey: #888;
    --actionBorder: #e9edf4;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

input {
    padding: 10px;
}

/*
=========================
GLOBAL
MARK: Global
=========================
*/
    #root .cmg-icon-wrapper {
        display: flex !important;
        gap: 10px;
        align-items: center;
    }

    #root .cmg-icon {
        font-size: 14px;
    }

    #root .cmg-dropdown {
        position: absolute;
        display: none;
        top: 50px;
        background: var(--default);
        width: 200px;
        left: 0;
    }

    #root .cmg-active-dropdown-item:hover {
        display: block;
        background: green;
    }

    #root .cmg-item-list {
        padding: 10px;
        text-align: center;
    }

/*
=========================
SIDEBAR
MARK: Sidebar
=========================
*/
    #root #cmg-sidebar {
        width: 250px;
        height: 100%;
        background-color: var( --white );
        position: fixed;
        z-index: 1;
        padding: 10px;
    }

    #root #cmg-sidebar .cmg-menu {
        height: 100%;
        overflow-y: auto;
    }

    #root #cmg-sidebar .cmg-menu::-webkit-scrollbar {
        width: 12px;
    }
    #root #cmg-sidebar .cmg-menu::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    
    #root #cmg-sidebar .cmg-menu::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 10px;
        border: 3px solid #f1f1f1;
    }
    
    #root #cmg-sidebar .cmg-menu::-webkit-scrollbar-thumb:hover {
        background-color: var(--darkGrey);
    }

    #cmg-sidebar .image-wrapper {
        width: 30px;
        height: 30px;
    }

    #cmg-sidebar .image-wrapper img {
        width: 100%;
        height: 100%;
    }

    #cmg-sidebar .header .logo-wrapper {
        display: flex;
        gap: 5px;
        align-items: center;
    }

    #cmg-sidebar .header .logo-wrapper:hover .header-title {
        color: var( --default );
    }

    #cmg-sidebar .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    #cmg-sidebar .header .header-title {
        font-size: 16px;
        color: var(--darkGrey);
    }

    #cmg-sidebar .cmg-menu-item .submenu-heading {
        display: flex;
        align-items: center;
        color: var( --default );
        font-size: 14px;
        font-weight: 600;
        margin: 0 0 14px;
        text-transform: uppercase;
    }

    #cmg-sidebar .cmg-submenu {
        margin-bottom: 15px;
    }

    #cmg-sidebar .cmg-menu-item .submenu-heading::after {
        background: var( --default );
        content: "";
        height: 1px;
        margin-left: 8px;
        width: 100%;
    }

    #cmg-sidebar .cmg-menu-item .cmg-list-item a {
        padding: 10px;
        display: block;
        color: var( --black );
        font-size: 14px;
    }

    #cmg-sidebar .cmg-menu-item .cmg-list-item a:hover,
    #cmg-sidebar .cmg-menu-item .cmg-list-item.active a {
        background: var( --default );
        color: var( --white );
    }

    #cmg-sidebar .canvas-icon {
        color: var(--darkGrey);
        font-size: 18px;
    }

    #cmg-sidebar .canvas-icon:hover {
        color: var(--default);
    }

/*
=========================
HEADER
MARK: Header
=========================
*/
    #root #cmg-main {
        margin-left: 272px;
        width: 100%;
        padding: 10px 20px;
        box-shadow: 10px 0px 10px 0px #00000026;
    }

    #root #cmg-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #root .cmg-header-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    #cmg-header #header-search input[type="search"]{
        border-radius: 5px;
        border: 1px solid var(--actionBorder);
        width: 300px;
    }

    #cmg-header .action {
        padding: 10px;
        border: 1px solid var(--actionBorder);
        color: #515b73;
        border-radius: 5px;
    }

    #cmg-header .action {
        padding: 10px;
        border: 1px solid var(--actionBorder);
        color: #515b73;
        border-radius: 5px;
    }